.card {
  background-color: var(--custom-card-bg);
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: var(--shadow);
  border-radius: var(--border-radius);
  padding: 24px;
  min-width: 250px;
  max-width: 500px;
  min-height: 600px;
  max-height: 1000px;
  transition: all 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
  width: 100%; 
  margin: 10px auto; 
}