.card {
  background-color: var(--custom-card-bg);
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: var(--shadow);
  border-radius: var(--border-radius);
  padding: 24px;
  max-width: 475px;
  max-height: 1000px;
  margin: 40px auto;
  transition: all 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
   max-width: 650px; 
   width: 100%; 
   margin: 20px auto; 
}